##########################################################################################################################
# Analyzes final dominant organisms from Stepping stones experiments.
#  Genotypes/details final dominant organisms
#  Extracts lineage of final dominant organisms
#  Genotypes/details/traces each organism along the lineage
##########################################################################################################################

SET i 200000
SET v unknown

FUNCTION SET_ENV_EVEN
  SET v env_even
  SetReactionValue NOT 1.0
  SetReactionValue NAND -1.0
  SetReactionValue AND 1.0
  SetReactionValue ORN -1.0
  SetReactionValue OR 1.0
  SetReactionValue ANDN -1.0
END

FUNCTION SET_ENV_ODD
  SET v env_odd
  SetReactionValue NOT -1.0
  SetReactionValue NAND 1.0
  SetReactionValue AND -1.0
  SetReactionValue ORN 1.0
  SetReactionValue OR -1.0
  SetReactionValue ANDN 1.0
END

FUNCTION SET_ENV_ALL
  SET v env_all
  SetReactionValue NOT 1.0
  SetReactionValue NAND 1.0
  SetReactionValue AND 1.0
  SetReactionValue ORN 1.0
  SetReactionValue OR 1.0
  SetReactionValue ANDN 1.0
END

# - Final Population (200k)
#   - env even  => BATCH 0
#   - env odd   => BATCH 1
#   - env all   => BATCH 2

PURGE_BATCH 0
PURGE_BATCH 1
PURGE_BATCH 2

# Load population (into batch 0, 6)
SET_BATCH 0
LOAD data/detail-$i.spop
DUPLICATE 0 1
DUPLICATE 0 2

#   - env even  => BATCH 0
SET_BATCH 0
SET_ENV_EVEN
RECALC
DETAIL coexistence-analysis/$v/detail-$i.dat id parent_id num_units total_units update_born update_dead depth parent_dist fitness length sequence total_cpus num_cpus gest_time efficiency task.0 task.1 task.2 task.3 task.4 task.5 task.6 task.7 task.8

#   - env odd   => BATCH 1
SET_BATCH 1
SET_ENV_ODD
RECALC
DETAIL coexistence-analysis/$v/detail-$i.dat id parent_id num_units total_units update_born update_dead depth parent_dist fitness length sequence total_cpus num_cpus gest_time efficiency task.0 task.1 task.2 task.3 task.4 task.5 task.6 task.7 task.8

#   - env all   => BATCH 2
SET_BATCH 2
SET_ENV_ALL
RECALC
DETAIL coexistence-analysis/$v/detail-$i.dat id parent_id num_units total_units update_born update_dead depth parent_dist fitness length sequence total_cpus num_cpus gest_time efficiency task.0 task.1 task.2 task.3 task.4 task.5 task.6 task.7 task.8