build
cbuild
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
.DS_Store
wbuild
DerivedData
*.swp
.vscode
.Rhistory

__pycache__
pyenv/

data/
coexistence-data/
dump/
*.sb
*.csv
_book
_bookdown_files
*.tar.gz

.sass-cache/
css/
plots/
avida
*.spop